*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar::after{
    content: "";
    position: absolute;
    background-image: url('/assets/image/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    z-index: -1;
    opacity: 0.8;
}
.container-1,text{
    text-align: center;
    padding: 34px;
    margin: 80px 20px;
    color: black;
    /* background: transparent;
    background-color: rgba(255, 255, 255, .2); */
}
#services{
    margin-top: 140px;
}
.center{
    text-align: center;
}
/* our instructers srat */
#client{
    margin-top: 40px;
}
/* .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color:sandybrown;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: sandybrown;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: sandybrown;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #ff460e;
    background-color: #f7f5ec;
  }
  
  #icon
  {
      width: 100%;
      height: 400px;
      background-color: #e45023;
    
  }
  #icon img{
    height: 150px;
    width: 150px;
  }
  input
  {
  width: 20%;    
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 2px solid white;
  margin-left: 30px;
  padding: 12px;
  outline: none;
  }
  .ready
  {
      width: 100%;
      height: 200px;
      margin-top: 10px;
      background-color: white;
  }
  .ready a
  {
      text-decoration: none;
      color: white;
  }
  .fa
  {
      color: rgb(248, 242, 242);
  } */
  
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: sandybrown;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: sandybrown;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: sandybrown;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }#icon
  {
      width: 100%;
      height: 400px;
      /* background-color: #e45023; */
          background-color: #5d23e4;

  }
  #icon img{
    height: 150px;
    width: 150px;
  }
  input
  {
  width: 20%;    
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 2px solid white;
  margin-left: 30px;
  padding: 12px;
  outline: none;
  }

  .ready
{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-color: white;
}
.ready a
{
    text-decoration: none;
    color: white;
}
  .fa
  {
      color: white;
  } 
  
  